@import url(./style/Sidebar.css);
@import url(./style/Content.css);
@import url(./style/newPatient.css);
@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap");

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-family: "Asap", sans-serif;
    background-color: #dcdde1;
}

.app {
    display: flex;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}
